# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf

# Web files
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf

# Config files
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.json text eol=lf

# Documentation
*.md text diff=markdown

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
